.current::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  
}

.about-me {
  font-size: small;
  font-weight: 400px;
  color: #1d1d1d;
  
}

.header-header {
  background-color: #F5F5F5;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.my-name{
  text-align: center;
  padding-top: 25px;
 
}

.high-contacts{
  margin-bottom: 10px;

}



.my-profession{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;

}

.all-about{
  text-align: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.5;
  cursor: pointer;
  font-weight: 500;
  
}

.info-item{
  color: #2e2f42;
  text-decoration: none;
}


.info-item:hover,
.info-item:focus{
  color: #003478;
}

.ma-tel{
  color: #2e2f42;
  text-decoration: none;
}

.ma-tel:hover,
.ma-tel:focus{
  color: #003478;
}


.high-contacts-m{
  font-size: x-small;
}

.address {
  display: block;
  font-style: normal;
  padding: 0;
}

.main-info {
  margin-top: 80px;
  margin-bottom: 100px;
}

.add-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
  

}

.main-content-title{
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
  margin-top: 80px;
}

/* Section main */
.main-info {
  height: 360px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.40),
  rgba(17, 17, 17, 0.40)),url(../images/backballet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  padding-top: 10px;
}





.my-descr{
  overflow: hidden;
  opacity: 0;
  font-size: xx-small;
}

.my-skills{
  text-align: start;
  padding: 0px 20px;
  color: beige;
  font-weight: 600;
  line-height: 1.2;
  font-size: x-small;
}

.tech-skills{
  font-size: 8px;
  margin-bottom: 20px;
}

.tech-here{
  margin-bottom: 15px;
}

.tech-title{
  margin-bottom: 5px;
  color:bisque;
}

.soft-title{
  margin-bottom: 5px;
  color:bisque;
}

.soft-skills{
  font-size: 8px;
} 

.skills-list-item span{
  font-size: 13px;
  color: beige;
  padding: 0px 5px 10px 0px;
}

/* .visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */


.personal-info{
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

.personal-info-item{
  margin-bottom: 10px;
  font-weight: 400;
  font-weight: 500;

}

.personal-info-item span{
  font-weight: 300;
  color: #003478;
}


.high-contacts-m{
  margin-bottom: 15px;
}




.v-icons{
  margin-left: 70px;
}


/* education */

.study-expirience{
  padding-left: 30px;
  padding-right: 30px;
}
/* section dances */

.video-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}


.video-in-miiddle{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
   background-color:  #2e2f42;
    /* background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
    backdrop-filter: blur(7.5px); */
    height: 100%;
    transform: translateY(100%);
    width: 100%;
    transition: transform 300ms linear;
}

.video-item:hover .video-in-miiddle{
  transform: translateY(0);
}

.my-foto {
  width: 300px;
  height: 410px;
  display: block;
  height: auto;

}

.foto-picture {
  position: relative;
  overflow: hidden;
}

.foto-par {
  color: #fafafa;
  font-style: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.name-foto {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background: #fff;
  border-top: none;
}

.my-video {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.links{
    text-decoration: none;
    color:beige;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
}

.links:hover,
.links:focus{
  color:aqua;
}

.ed-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;

}

.ed-list-item{
  font-size: 30px;
  line-height: 1.5;
}

.study-expirience-position{
  margin-bottom:30px;
  color: #2e2f42;
}

.study-expirience-position span{
  color: #003478;
}


/* work */

.work-expirience-place{
  text-align: center;
}

.work-expirience-position{
  margin-bottom: 20px;
  font-size: 35px;
  color: #2e2f42;

}


.work-duties-list{
  margin-bottom: 20px;
  line-height: 1.5;

}

.work-expirience-company{
  color: #003478;
}

.work-period{
  margin-bottom: 15px;
}

.work-list-item{
  font-size: 25px;
  padding: 15px;
  margin-bottom: 60px;

}

.work-list{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.obligations{
  margin-bottom: 10px;
  font-weight: 500;
}

.footer{
  background-color: #F5F5F5;

}

.contacts-number{
  text-decoration: none;
  color: #2e2f42;
}

.contacts-email{
  text-decoration: none;
  color: #2e2f42;
}

.contacts-number:hover,
.contacts-number:focus{
  text-decoration:underline;
  color:#003478;
}

.contacts-email:hover,
.contacts-email:focus{
  text-decoration:underline;
  color:#003478;
}

.soc-class{
  text-decoration: none;
  fill: #2e2f42;
}

.soc-class:hover,
.soc-class:focus{
  fill:#003478;
}


.footer-change{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  
}

.f-icon-box-tel{
  width: 30px;
  height: 15px;
  margin-left: 10px;
  fill:#2e2f42;
  margin-bottom: 10px;
}

.f-icon-box-tel:hover,
.f-icon-box-tel:focus{
  fill: #003478;
}

.f-icon-box{
  fill:#2e2f42;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.f-icon-box:hover,
.f-icon-box:focus{
  fill: #003478;
}


.f-icons-svg{
  display: flex;
  gap: 15px;
  justify-content: center;
  
}
  

.social-m {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.2;
 
}


.sidebar-title{
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: center;
  padding-right: 30px;

}

.skills-row{
  padding-left: 20px;
}

.side-bar-content{
  text-align: center;
}

.f-icon-box-f{
  padding-top: 30px;
  width: 50px;
  height: 45px;
  fill: #2e2f42;

}

.f-icon-box-f:hover,
.f-icon-box-f:focus{
  fill: #003478;
}

.all-about-item{
  margin-bottom: 20px;

}


@media screen and (min-width: 500px){

  .container{
    padding: 15px;
  }

  .my-skills{
    font-size: 16px;
    color: beige;
    line-height: 1.2;
    padding-left: 50px;
  }

  .sm-footer{
    padding-left: 80px;
  }

  .footer-change{
    padding: 60px;
  }

  .sidebar-title{
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
}

  .social-m{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.2;
    padding-right: 90px;
  }

  .add.contacts{
    gap: 40px;
  }

  .add-contacts{
    gap: 40px;
  }
  .f-icons-svg{
    width: 40px;
    height: 30px;
    padding-right: 100px;
}
}




@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
   
  }

  .my-descr{
    overflow: visible;
    opacity: 1;
    width: 250px;
    font-size: large;
    line-height: 1.2;
    color: #2e2f42;
  }

  .header-container {
    margin-bottom: 30px;
   
 
  }

  .all-about{
    display: flex;
    list-style-type: none;
    gap: 80px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.all-about-item{
  line-height: 1.15;
}

  .main-content-title{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700px;
    margin-top: 120px;

  }


  .main-info {
    height: 600px;
    margin-bottom: 100px;
  }

 .about-me{
  margin: 10px 30px 20px 30px;
  font-size: 12px;
 }

 .video-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

  /* my videos */

  .my-foto {
    width: 260px;
    height: 340px;
  }
  .my-skills{
    padding-left: 45px;
    font-size: medium;
    color: beige;
    line-height: 1.2;
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  .footer-change{
    padding: 50px;
  
  }

  .add-contacts{
    gap: 100px;
  }

  .f-icon-box-f {
    width: 60px;
    height: 60px;
  }

  .f-icon-box{
    width: 40px;
    height: 90px;
  }

  .f-icons-svg{
    margin-top: 40px;
  }

  .contacts-number{
    font-size: 25px;
  }

  .contacts-email{
    font-size: 25px;
  }

  .sidebar-title{
    font-size: 30px;
  }

  .social-m{
    font-size: 30px;
  }

  .f-icons-svg{
    width: 40px;
    height: 30px;
    padding-right: 80px;
  }

  .high-contacts-m{
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    
  }

  .header-header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #F5F5F5;
  }

  .all-about{
    display: flex;
    list-style-type: none;
    gap: 150px;
    font-size: 30px;
    font-weight: 600;
}

.all-about-item{
  line-height: 1.15;
}

  .header-container {
    margin-bottom: 10px;
    margin-top: 10px;
   
  }



  .main-content-title{
    margin-bottom: 72px;
  }

  .my-name {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
  }

  .main-info {
    height: 800px;
  }

  .about-me {
    width: 300px;
    margin: 20px 100px 0px 900px;
    font-size: small;
  }

  .personal-info{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    justify-content: center;
  }



  .main-content-title{
    margin-bottom: 72px;
    font-size: 60px;
    font-weight: 700px;
  }

  /* my videos */

  .my-foto {
    width: 310px;
    height: 400px;
  }

  .soft-here{
    margin: 10px 40px 400px 900px;
  }

  .ed-list{
    display: flex;
    gap: 50px;
  }

  .tech-here{
    padding-left: 300px;

  }
  

.my-skills{
  padding-left: 45px;
  font-size: large;
  color: beige;
  line-height: 1.2;
}

.video-list {
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-change{
  
  padding: 100px;

}

.social-m{
  margin-bottom: 30px;
  font-size: 30px;
}

.sidebar-title{
  font-size: 30px;
}

.f-icons-svg{
  padding-right: 80px;
}

.ma-tel{
  font-size: 30px;
}

.f-icon-box-tel{
  height: 30px;
}
}

@media screen and (min-width: 1440px) {

.container{

  padding-left: 20px;
  padding-right:20px;

}

  .about-me {
    width: 400px;
    margin: 30px 400px 0px 1000px;
    font-size: 15px;
  }


  .all-about{
    display: flex;
    gap: 200px;
    font-size: 25px;
    margin-bottom: 30px;
}

.all-about-item{
  line-height: 1.15;
}


  /* my videos */

  .my-foto {
    width: 310px;
    height: 400px;
  }

  .main-content-title{
    font-size: 70px;
    font-weight: 700px;
  }


  .main-content-title{
    margin-top: 150px;
  }

  .personal-info{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 60px;
  }

  .soft-here{
    margin: 10px 50px 500px 900px;
  }


  .my-skills{
    font-size: large;
    color: beige;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
  }

  .work-list{
    display: flex;
    gap: 50px 200px;
    font-size: 20px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 160px;
  }

  .footer-change{
    padding: 90px;
  }

  .social-m{
    margin-bottom: 15px;
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  
  .sidebar-title{
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .contacts-number{
    font-size: 30px;
    line-height: 1.5;
  }

  .contacts-email{
    font-size: 30px;
    line-height: 1.5;
  }
}